{{ form_start(form) }}
    {{ form_widget(form.nom, { "attr" : { "autofocus" : true, "autocomplete" : true, "placeholder" : "Nom de la voiture" } }) }}

    <select name="marque" id="marque">
        <option value="">Choisissez une marque</option>
        {% for marque in marques %}
            <option value="{{ marque.id }}">{{ marque.nom }}</option>
        {% endfor %}
    </select>

    <select name="energie" id="energie">
        <option value="">Choisissez une énergie</option>
        {% for energie in energies %}
            <option value="{{ energie.id }}">{{ energie.nom }}</option>
        {% endfor %}
    </select>

    <div>
        <label>Neuf</label>
        <input type="radio" name="etat" id="neuf" value="neuf">
        
        <label>Occasion</label>
        <input type="radio" name="etat" id="occasion" value="occasion">
    </div>

    <button class="btn">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
