{{ form_start(form) }}
    <div>
        {{ form_widget(form.nom, { "attr" : { "autofocus" : true, "autocomplete" : true, "placeholder" : "Nom de la voiture" } }) }}
    </div>

    <div>
        <select name="marque" id="marque">
            <option value="">Choisissez une marque</option>
            {% for marque in marques %}
                <option value="{{ marque.id }}">{{ marque.nom }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <select name="energie" id="energie">
            <option value="">Choisissez une énergie</option>
            {% for energie in energies %}
                <option value="{{ energie.id }}">{{ energie.nom }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label>Neuf</label>
        <input type="radio" name="etat" id="neuf" value="neuf">
        
        <label>Occasion</label>
        <input type="radio" name="etat" id="occasion" value="occasion">
    </div>

    <div class="occasion {% if not voiture.annee and not voiture.kilometrage %}hidden{% endif %}">
        <div>
            <label for="annee">Année : </label>
            <input type="text" name="annee" id="annee" value="{{ voiture.annee }}" placeholder="Annee">
        </div>

        <div>
            <label for="kilometrage">Kilométrage : </label>
            <input type="text" name="kilometrage" id="kilometrage" value="{{ voiture.kilometrage }}" placeholder="Kilometrage">
        </div>
    </div>

    <div>
        <label>Prix : </label>
        {{ form_widget(form.prix, { "attr" : { "autocomplete" : true, "placeholder" : "Prix" } }) }}
    </div>

    <div>
        <label>Consommation : </label>
        {{ form_widget(form.consommation, { "attr" : { "autocomplete" : true, "placeholder" : "Consommation (facultative)" } }) }}
        <span id="conso_unite"></span>
    </div>

    <div>
        <button class="btn">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
