{% for voiture in voitures %}
    <tr class="border-spacing-1.5">
        <td class="py-1.5">{{ voiture.nom }}</td>
        <td class="py-1.5">{{ voiture.prix }}</td>
        {% if voiture.energie %}
            <td class="py-1.5">{{ voiture.energie.nom }}</td>
        {% else %}
            <td class="italic text-gray-400 py-1.5">Non spécifié</td>
        {% endif %}
        <td class="py-1.5">{{ voiture.marque.nom }}</td>
        <td class="py-1.5">{{ voiture.etat|capitalize }}</td>
        <td class="py-1.5">
            {% if voiture.consommation %}
            
                {{ voiture.consommation }} 

                {% if voiture.energie.id == 4 %}
                    kWh
                {% else %}
                    L/100 km
                {% endif %}
            {% else %}
                <span class="italic text-gray-400">Non spécifié</span>
            {% endif %}
        </td>
        <td class="italic text-gray-400 py-1.5">{{ voiture.lastUpdate|date("d/m/Y") }}</td>
        <td class="py-1.5">
            <a href="{{ path('voiture_show', {'id': voiture.id}) }}" class="
            bg-blue-500 
            text-white 
            p-1 px-2  
            border-2 border-blue-500 
            hover:bg-white hover:text-blue-500">Détails</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('voiture_edit', {'id': voiture.id}) }}" class="
            bg-yellow-500 
            text-white 
            p-1 px-2  
            border-2 border-yellow-500 
            hover:bg-white hover:text-yellow-500">Modifier</a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="100%">Aucun résultat</td>
    </tr>
{% endfor %}