{% for voiture in voitures %}
    <tr class="border-spacing-1.5 odd:bg-white even:bg-slate-100">
        <td class="py-1.5 border-r-2">{{ voiture.nom }}</td>
        <td class="py-1.5 border-r-2">{{ voiture.prix }}</td>
        {% if voiture.energie %}
            <td class="py-1.5 border-r-2">{{ voiture.energie.nom }}</td>
        {% else %}
            <td class="italic text-gray-400 py-1.5 border-r-2">Non spécifié</td>
        {% endif %}
        <td class="py-1.5 border-r-2">{{ voiture.marque.nom }}</td>
        <td class="py-1.5 border-r-2">{{ voiture.etat|capitalize }}</td>
        {% if voiture.annee %}
            <td class="py-1.5 border-r-2">{{ voiture.annee }}</td>
        {% else %}
            <td class="italic text-gray-400 py-1.5 border-r-2">Non spécifié</td>
        {% endif %}
        <td class="py-1.5 border-r-2">
            {% if voiture.consommation %}
            
                {{ voiture.consommation }} 

                {% if voiture.energie.id == 4 %}
                    kWh
                {% else %}
                    L/100 km
                {% endif %}
            {% else %}
                <span class="italic text-gray-400">Non spécifié</span>
            {% endif %}
        </td>
        {% if voiture.etat == "occasion" %}
            {% if voiture.kilometrage %}
                <td class="py-1.5 border-r-2">{{ voiture.kilometrage }}</td>
            {% else %}
                <td class="italic text-gray-400 py-1.5 border-r-2">Non spécifié</td>
            {% endif %}

        {% else %}
            <td class="py-1.5 italic text-gray-400 border-r-2">/</td>
        {% endif %}
        <td class="italic text-gray-400 py-1.5 border-r-2">{{ voiture.lastUpdate|date("d/m/Y") }}</td>
        <td class="py-1.5">
            <a href="{{ path('voiture_show', {'id': voiture.id}) }}" class="
            bg-blue-500 
            text-white 
            p-1 px-2  
            border-2 border-blue-500 
            hover:bg-white hover:text-blue-500 
            w-full 
            block
            my-1.5
            lg:m-0
            lg:inline-block
            lg:w-max">Détails</a>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('voiture_edit', {'id': voiture.id}) }}" class="
                bg-yellow-500 
                text-white 
                p-1 px-2  
                border-2 border-yellow-500 
                hover:bg-white hover:text-yellow-500 
                w-full 
                block
                my-1.5
                lg:m-0
                lg:inline-block
                lg:w-max">Modifier</a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="100%">Aucun résultat</td>
    </tr>
{% endfor %}