{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1 class="text-center">Voiture index</h1>

    <table class="table" width="100%">
        <thead align="center">
            <tr>
                <th>Nom</th>
                <th>Prix (€)</th>
                <th>Énergie</th>
                <th>Marque</th>
                <th>Mise à jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody align="center">
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.nom }}</td>
                <td>{{ voiture.prix }}</td>
                {% if voiture.energie %}
                    <td>{{ voiture.energie.nom }}</td>
                {% else %}
                    <td class="italic text-gray-200">Non spécifié</td>
                {% endif %}
                <td>{{ voiture.marque.nom }}</td>
                <td class="italic text-gray-200">{{ voiture.lastUpdate|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'id': voiture.id}) }}">show</a>
                    <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Créer</a>
{% endblock %}
