{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1 class="text-center">Voiture index</h1>

    <select name="energieAjax" id="energieAjax">
        <option value="">Choisissez une énergie</option>
        {% for energie in energies %}
            <option value="{{ energie.id }}">{{ energie.nom }}</option>
        {% endfor %}
    </select>

    <select name="marqueAjax" id="marqueAjax">
        <option value="">Choisissez une marque</option>
        {% for marque in marques %}
            <option value="{{ marque.id }}">{{ marque.nom }}</option>
        {% endfor %}
    </select>

    <label for="prixAjax">Prix maximum (entre 0€ et {{ prixMax }}€) : </label>
    <input type="range" id="prixAjax" name="prixAjax" min="0" max="{{ prixMax }}" step="500"> 
    <span id="rangeValue">0</span>

    <table class="table" width="100%" id="voiture_index">
        <thead align="center">
            <tr>
                <th>Nom</th>
                <th>Prix (€)</th>
                <th>Énergie</th>
                <th>Marque</th>
                <th>Mise à jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody align="center" id="voiture_index_body">
            {% include "voiture/_index_body.html.twig" %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Créer</a>
{% endblock %}
